<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    <form id="btn">
      <input type="file" name="file" id="file" required />
      <input type="text" name="title" placeholder="title" id="title" required />
      <button>SUBMIT</button>
    </form>
    <ul id="list">
      <li></li>
    </ul>

    <script src="/js/index.js"></script>
  </body>
</html>
